.order {
    max-width: 1200px;
    height: 600px;
    .order-title {
        margin: 0 auto;
        width: 1000px;
        font-size: 48px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        color: white;
        margin-bottom: 60px;
    }
    .title-color {
        color: #79c8c7;
    }
    .order-list {
        display: flex;
        gap: 30px;
    }
    .order-item {
        text-align: center;
        width: 370px;
        height: 220px;
        color: white;
    }
    .order-top-text {
        font-size: 15px;
        font-weight: 600;
        line-height: 167%;
        margin-bottom: 20px;
    }
    .order-item-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 156%;
        color: #79c8c7;
    }
    .order-bottom-title {
        font-size: 13px;
        font-style: italic;
        font-weight: 500;
        line-height: 138%;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
}